<!DOCTYPE HTML>
<html>

<head>
    <title>Rookie - Welcome</title>
    <link rel="icon" type="image/svg" href="public/assets/svg/logo.svg">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="public/library/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="public/css/globals/globals.css" />
    <link rel="stylesheet" href="public/css/pages/home/home.css" />  
</head>

<body>
    <div class="welcome-page">
        {% set baseUrl = 'Rookie-Project/'%}
        <section>
            <div>
                <div class="presentation">
                    <div>
                        <h1 class="welcomeMessage">{{ title }}</h1>
                        <p class="introduction">{{ welcome }} </p>
                    </div>
                </div>
                <div class="notice">
                    <div>
                        <p>You just request on {{ thisController }} !</p>
                        <p>Go to demo playground on <a href="{{ route}}"> {{ nextController }}</a></p>
                    </div>
                </div>
                <div class="logo-zone">
                    <div>
                        <p class="text-center">By</p>
                        <img id="logo"src="public/assets/svg/logo.svg" alt="logo infinity-dev">
                    </div>
                </div>
            </div>
        </div>
        <script src="public/library/systemjs/system.min.js"></script>
        <script src="public/dist/shared/SystemJSLoader.js"></script>
		<script src="public/library/jquery/jquery.min.js"></script>
		<script src="public/library/bootstrap/bootstrap.min.js"></script>
	</div>
</body>

</html>

